.header {
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}



body {
    background-color: pink;
    font-family: "Playfair Display";
}


.image-box {
    width: max-content;
    background-color: chocolate;
    border-radius: 10px;
    margin-bottom: 20px;
    height: max-content;
}

.image-box img {
    margin: 50px 50px 30px 50px;
    border-radius: 20px;
}

#car-titles {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}