* {
    margin: 0;

}

a {
    margin-right: 200px;
    color: white;
    text-decoration: none;
}

#site-link {
    font-size: 25px;
    color: #f08804;
}

/* black 0f1111 yellow f08804 */

nav {
    background-color: #0f1111;
    padding: 20px;

}

button {
    border: 2px inset;
    background-color: #f08804;
    cursor: pointer;
}

.image {
    height: 400px;
    width: 400px;
    border: 1px solid;
    display: inline-block;
    position: relative;
}

section {
    text-align: center;
    margin: 20px 0;
}

footer {
    height: 250px;
    background-color: pink;
    text-align: center;
    align-content: center;
}

#image1,
#image2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#image1 {
    background-image: url('../media/mahindra-scorpio.jpg');
}

#image2 {
    background-image: url('../media/maruthi-suzuki-fronx.jpeg');
}

.buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.buttons button {
    padding: 5px;
    background-color: gray;
    color: white;
}